body {
  color: #385E6E;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
}

body::after {
  content: "";
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(10, 7, 37, 0.5)), url(/img/bg_tech.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat:no-repeat;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position:fixed;
  z-index: -1;   
}


h1 {
  position: sticky;
  color: white;
  text-align: center;
  
}

p {
  font-size: 16px;
  margin-left: 15px ;
  padding: 0 15px 0px 15px;
  text-indent: 10%;
}

#navigation-bar{
   background-color: #1c405e;
   position: sticky;
   top: 0;
   color: #E8F8FF;
   text-align: center;
   padding: 14px 16px;
   width: 100%;
   z-index: 10;

}

#navigation-bar a{
  padding: 14px 16px;
  text-decoration: none;

}

#main img{
  width: 100% !important;
}

#navigation-bar a:visited, a:link{
  color:#E8F8FF;
}

#navigation-bar a:hover {
  background-color: #A19FC2;
  color: #242242;
}

.content{
  margin: 5px 0 5px 0;
}

.content:nth-child(odd){
  background-color: white;
}

.content:nth-child(even){
  background-color: whitesmoke;
}

/* About me */

#about-me{
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: center;
}

#about-me img {
  height: 300px;
  border-radius: 5%;

}


/* Projects */

#icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;

}



#icons img{
  max-width: 200px;
  border-radius: 50px;
  padding-bottom: 15px;
}


.icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.icons img{
  max-width: 175px;
  padding-bottom: 15px;
}

#project-type-selection{
  margin-top: 30px;
}

#project-icons img{
opacity: .5;
}

#project-icons img:hover{
  cursor: pointer;
  opacity: 1;
  box-shadow: 5px;
}

.instructions{
  font-weight: bold;
}

.job-posting{
  border: 2px solid gray;
  border-radius: 5px;
  margin: 2.5px 15px 2.5px 15px;
  box-shadow: 2px 2px;
}

/* Technologies */

#technologies {
  margin: 0;
  padding: 0;
}

.technology p {
  text-indent: 0;
}

#technology-grid{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  gap: 50px;
  margin-bottom: 20px;
}

#technologies img {
  width: 100px;
  padding: 10px;
}

.technology p {
  padding: 0;
  margin: 0;

}

.technology img {
  width: 100px;
  height: 100px;
}

.technology {
  display:flex;
  align-items: center;
  flex-direction: column;
  border:1px solid black;
  width: 110px;
  height: 130px;
  border-radius: 5px;
  box-shadow: 2px 2px;
  
}

#osu-syspec, #equifax, #gamestop{
  border: 2px solid black;
}

#gamestop{
  margin-bottom: 15px;
}

/* Credentials */

.education {
  border:2px solid black;
  border-radius: 5px;
  width: 300px;
  background-color: white;
  box-shadow: 2px 2px;
  margin-bottom: 20px;
 
  display: flex;
  align-items: center;
  flex-direction: column;
  
  
}

.training {
  border:2px solid black;
  border-radius: 5px;
  width: 300px;
  background-color: white;
  box-shadow: 2px 2px;
  margin-bottom: 20px;
 
  display: flex;
  align-items: left;
  flex-direction: column;
  
  
}

.education img {
  align-items: center;
}

.education ul {
  padding-inline-start: 0;
}

.bold {
  font-weight: bold;
}

.education img {
  height: 100px;
  justify-content: center;
}

.credential-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer {  
  bottom: 10px;    
  background-color: #565475;  
  color: white;  
  text-align: left;  
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 25px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides, .mySlides_CS {
  display: none;
}

.mySlides img, mySlides_CS img {
  width: 100%;
  height: 600px;
  object-fit: cover;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color:black;
  opacity: 70%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  color:black;
  opacity: 70%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: #1c405e;
  font-weight: normal;
}

.text, a:visited, a:link {
  color:lightsteelblue;
} 


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Mobile lay out */

@media (max-width: 425px){
  body{
    margin: 0 !important;
    display:block;
    background-image: none;
    width:100%;
    padding:0;
  }

  .content{
    margin: 0 !important;
    width:100% !important;
  }

  #navigation-bar {
    font-size: 30px;
  }

  #navigation-bar a{
    display: visible;
  }

  #resume{
    margin: 0;
    width: 100%;
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

  }

  .icons img{
    max-width: 175px;
    padding-bottom: 15px;
  }

  #main {
    margin-top: 5px;
    
  }
  

}

/* Desktop layout */

@media (min-width: 1024px){

  #navigation-bar {
    font-size: 17px;
  }

  #main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #main img{
    width:auto;
  }
  
   #job-history{
    display: flex;
    flex-direction: column;


  }
  .job-posting{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .job-description{
    align-self: center;
  }

  li{
    list-style-type: none;
    margin-left: 15px;
  }

  .job-logo{
    align-items: flex-end;
  }

  .job-logo img{
    margin-right: 10px;
    margin-top: 5px;
    height: 105px;
    
  }


  .content {
    border-radius: 10px;
    width: 1024px;

  }

  .content h2{
    text-align:center;
  }

  

}

