body {
  color: #385E6E;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E8F8FF;

}


h1 {
  position: sticky;
  color: white;
  text-align: center;
  
}

p {
  font-size: 20px;
  margin: 50px;
}

#navigation-bar{
   background-color: #565475;
   position: sticky;
   top: 0;
   color: #E8F8FF;
   text-align: center;
   padding: 14px 16px;

}

#navigation-bar a{
  padding: 14px 16px;
  text-decoration: none;

}

#navigation-bar a:visited, a:link{
  color:#E8F8FF;
}

#navigation-bar a:hover {
  background-color: #A19FC2;
  color: #242242;
}

#main, #projects {
  background-color: #B6D4E0;

}

#about-me, #contact-me{
  background-color: #C0E0ED;
}

.footer {  
  bottom: 10px;    
  background-color: #565475;  
  color: white;  
  text-align: left;  
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 25px;
}

/* Mobile lay out */

@media (min-width: 600px){

  #navigation-bar {
    display: visible;
    font-size: 22px;
    width: 100%;
  }

  #navigation-bar a{
    display: visible;

  }


}

/* Desktop layout */

@media (min-width: 1024px){

  #navigation-bar {
    display: visible;
    font-size: 17px;
    width: 100%;
  }

  #main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #projects {
    
  }

  #icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

  }

  #icons img{
    max-width: 200px;
    border-radius: 50px;
    padding-bottom: 15px;
  }

  .content {
    border-radius: 10px;
    width: 1024px;
    margin: 5px 0px 0px 5px;
  }


}

