/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 10000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}

#wrapper {
	width:80%;
	background-color: light-gray;
	margin-left:auto;
	margin-right:auto;

}

footer {font-size:15px;
	height:20px;
	background-color:black;
	text-align:center;
	color:white;
	}
	
body {
	background-color:orange;
    margin-left:10%;
	margin-right:10%;
}
main {
	background-color:white;
	padding: 10px;
	margin-left:20px;
	margin-right:200px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.navigation {
  text-align: center;
}